//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 11 12:00:35 2017
//! **************************************************************************

SCHEMATIC START;
COMP "Ci" LOCATE = SITE "T11" LEVEL 1;
COMP "A" LOCATE = SITE "T5" LEVEL 1;
COMP "B" LOCATE = SITE "V8" LEVEL 1;
COMP "C" LOCATE = SITE "U8" LEVEL 1;
COMP "F" LOCATE = SITE "R11" LEVEL 1;
SCHEMATIC END;

